{% extends 'admin/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="w-full max-w-xs m-auto">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="flex justify-center">
                <button class="bg-color-brown hover:bg-color-light-brown text-white font-bold py-2 px-4 rounded text-color-black-brown" type="submit">
                    Sign in
                </button>
            </div>
        </form>
    </div>
{% endblock %}
