<div id="about-element">
    <h2 class="leading-10">ABOUT</h2>
    <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <p class="md:border-r-2 md:border-color-brown pr-5">{{ admin.aboutMe|raw }}</p>
        <div class="border-t-2 md:border-none xs:border-color-brown pt-3 md:pt-0">
            <h3>Extra professional activities:</h3>
            <div class="w-20 h-1 bg-color-brown mt-3 mb-3 mx-auto"></div>
            <p>{{ admin.hobies|raw }}</p>
        </div>
    </div>
</div>