<div id="contact-element" class="hidden">
    <h2 class="leading-10">CONTACT ME</h2>
    <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
    <p class="text-center my-5">
        For any questions or professional proposals, do not hesitate to contact me. <br> You can use the contact form below.
    </p>
    <div class="w-full max-w-xs m-auto">
        <div class="mb-4">
            <label for="myEmail"></label>
            <input type="text" value="{{ admin.email }}" id="myEmail" class="hidden">
            <label for="subject"></label>
            <input class="border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3" id="subject" type="text" placeholder="Subject">
            <label for="comment"></label>
            <textarea id="comment" class="border-b rounded border-color-brown shadow appearance-none focus:outline-none w-full py-2 px-3 text-gray-700 leading-tight py-2 my-3" placeholder="Comment"></textarea>
        </div>
        <div class="flex justify-center">
            <a href="" id="send_email">
                <button class="bg-color-brown hover:bg-color-light-brown text-white font-bold py-2 px-4 rounded text-color-black-brown">Send</button>
            </a>
        </div>
    </div>
</div>