{% extends 'admin/layout.html.twig' %}

{% block title %}Edit ProfessionalSkill{% endblock %}

{% block body %}
    <h1>Edit ProfessionalSkill</h1>
    {{ include('professional_skill/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('professional_skill/_delete_form.html.twig') }}
{% endblock %}
