<li class="text-medium pb-5 hidden sm:block lg:block">
    <div class="flex items-center justify-center">
        <span class="mr-5">
            <i class="fas {{ fontName }} fa-xl"></i>
        </span>
        <div>
            <p class="capitalize">{{ title }}</p>
            <a class="text-color-light-gray" {% if title == 'email' %} href="mailto:lutmickael@gmail.com" {% endif %}>{{ value }}</a>
        </div>
    </div>
</li>