{% extends 'admin/layout.html.twig' %}

{% block body %}
<div>
    <p>Hello {{ admin.fullName }}</p>
    <div class="pt-3">
        <a href="{{ path('app_admin_edit') }}" class="p-2 bg-color-brown">Click here to edit infos.</a>
    </div>
</div>
{% endblock %}
