{% extends 'admin/layout.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li>
                <a class="active" href="#about">About</a>
            </li>
            <li>
                <a href="#skill">Skill</a>
            </li>
            <li>
                <a href="#resume">Resume</a>
            </li>
            {% if app.user %}
                <li class="float-right">
                    <a href="{{ path('app_logout') }}" class="bg-color-brown hover:bg-color-light-brown text-white font-bold text-color-black-brown">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="pt-10">
        {{ app.user.firstName }} {{ app.user.lastName }}
    </div>
{% endblock %}
