@import '../helper/variables';

.timeline-card {
  position: relative;
  margin-left: 16px;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 16px;
  left: -12px;
  border: 5px solid;
  z-index: 2;
}

.timeline-card-info:before {
  color: $color-brown;
}