@tailwind base;
@tailwind components;
@tailwind utilities;

@import './helper/variables';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  li {
    float: left;
  }

  li a {
    display: block;
    color: $color-light-white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $color-black-brown;
  }
}

.table {
  width: 100%;

  thead {
    border-top: 2px solid $color-brown;
    border-bottom: 2px solid $color-brown;
    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: $color-black-brown;
      border: 1px solid #F1F1F1;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #F1F1F1;
      color: $color-black-brown;
      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }
      th {
        padding-left: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }
}
