@tailwind base;
@tailwind components;
@tailwind utilities;

@import './helper/variables';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  li {
    float: left;
  }

  li a {
    display: block;
    color: $color-light-white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $color-black-brown;
  }
}