{% extends 'base.html.twig' %}

{% block footer %}
    <div class="text-center">
        <div class="pb-5">
            <a href="https://github.com/dgmick" class="mx-2" target="_blank">
                Github
            </a>
            <a href="https://www.instagram.com/dgwaner/" class="mx-2" target="_blank">
                Instagram
            </a>
            <a href="https://www.linkedin.com/in/mickael-lutin-41357392/" class="mx-2" target="_blank">
                Linked
            </a>
        </div>
        <p class="text-xs">© {{ 'now'|date('Y') }} Lutin Mickael. <br>
            All rights reserved.
        </p>
    </div>
{% endblock %}