{% extends 'base.html.twig' %}

{% block footer %}
    <div class="text-center">
        <div class="pb-5">
            <a href="https://github.com/dgmick" class="mx-2" target="_blank">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/dgwaner/" class="mx-2" target="_blank">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/mickael-lutin-41357392/" class="mx-2" target="_blank">
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
        </div>
        <p class="text-xs">© {{ 'now'|date('Y') }} Lutin Mickael.</p>
    </div>
{% endblock %}